{% extends 'layout.twig' %}

{% block body %}
	<h1>{{title}}</h1>
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Id</th>
				<th scope="col">Firstname</th>
				<th scope="col">Lastname</th>
				<th scope="col">Age</th>
			</tr>
		</thead>
		<tbody>
			{% for key, user in users %}
				<tr>
					<th scope="row">{{ key }}</th>
					<td>{{ user.id }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.age }}</td>
				</tr>
			{% else %}
				No user here
			{% endfor %}
		</tbody>
	</table>

	<h2>Add User</h2>
	<form method="POST" action="/user">
		<div class="form-group">
			<label for="firstname">Firstname</label>
			<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter firstname">
		</div>
		<div class="form-group">
			<label for="lastname">Lastname</label>
			<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter lastname">
		</div>
		<div class="form-group">
			<label for="age">Age</label>
			<input type="number" class="form-control" id="age" name="age" placeholder="Enter age">
		</div>
		<button type="submit" class="btn btn-primary mt-1">Submit</button>
	</form>
{% endblock %}
